button.attributions-button md-icon {
    /* color: rgba(141,110,99,0.75); */
    color: rgba(93,64,55,0.75);
}

.ol-attribution {
    display: none;
}

md-content .content-body .content-info * {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.md-dialog-content img {
    display: block;
    margin: 0 auto;
    max-width: 752px;
    height: auto;
}

.md-dialog-content h3:first-child {
    margin-top: 0;
}

.md-dialog-content h3:not(:first-child) {
    margin-top: 2em;
}

.ol-popup {
    padding: 10px 15px 10px 10px;
    max-width: 10em;
    height: min-content;
    width: max-content;
}

.ol-popup-content {
    font-size: small;
    min-width: unset;
}

.ol-popup-closer {
    display: none;
}

/* md-content .main-content {
    background-color: initial;
} */

md-content .additional-content {
    max-width: 50em;
    margin: 2em auto;
}

md-content .additional-content .heading {
    background-color: #d6e3bc;
}

md-content .additional-content .heading {
    padding-top: 8px;
}

/* md-content .additional-content .heading:first-child {
    margin-top: 0;
    padding-top: 16px;
} */

div.feature-list:not(.card-list) md-content {
    background-color: #eaf1dd;
}

md-content table tr:nth-child(odd) {
    background-color: #d6e3bc;
}

md-content table tr:nth-child(even) {
    background-color: #eaf1dd;
}

md-content table td:first-child {
    font-weight: 500;
}

md-content table td {
    padding: 8px;
}

md-content p, md-content td {
    /* white-space: pre-wrap; */
    vertical-align: text-top;
}

md-content ul {
    white-space: pre-line;
    list-style: unset;
}

.card-list md-card {
    flex: 0 1 100%;
    margin: .5em;
    box-sizing: border-box;
}

md-card md-card-title {
    padding: 16px 12px 0px 12px;
    flex: initial;
}

md-card md-card-content {
    padding: 0 12px;
    font-size: .9rem;
}

md-card md-card-title md-card-title-text:only-child .md-subhead {
    padding-top: 4px;
    font-style: italic;
    line-height: 20px;
}

.md-headline {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
}

.card-list md-content.card-collection {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 600px) { /* gt-xs */
}

@media (min-width: 960px) { /* gt-sm */
    .card-list md-card {
        flex: 0 1 calc(100% / 2 - 1em);
        margin: .5em;
        box-sizing: border-box;
    }
}

@media (min-width: 1280px) { /* gt-lg */
    .card-list md-card {
        flex: 0 1 calc(100% / 3 - 1em);
        margin: .5em;
        box-sizing: border-box;
    }
}

@media (min-width: 1520px) {
    .card-list md-card {
        flex: 0 1 calc(100% / 4 - 1em);
        margin: .5em;
        box-sizing: border-box;
    }
}

/* @media (min-width: 600px) { /1* gt-xs *1/ */
/* } */

/* @media (min-width: 960px) { /1* gt-sm *1/ */
/*     md-content.card-collection { */
/*         column-count: 3; */
/*     } */
/* } */

/* @media (min-width: 1280px) { /1* gt-lg *1/ */
/*     md-content.card-collection { */
/*         column-count: 4; */
/*     } */
/* } */

/* @media (min-width: 1920px) { /1* xl *1/ */
/* } */
