<div class="feature-list" ng-class="{'card-list': !featureDetails, 'layout-column': featureDetails}">
    <md-content flex layout-padding ng-show="!featureDetails" style="padding-bottom:0">
        <div layout="row" style="flex-wrap: wrap; justify-content: flex-end;">
            <a href="https://sumavaprodukt.regionalnispeciality.cz/" target="_blank">
                <img ng-if="config.appLogo" ng-src="{{ config.appLogo }}" alt="Application logo" style="max-height: 48px;">
            </a>
            <div flex></div>
            <md-select ng-model="primaryOrder" placeholder="Řazení" class="md-no-underline feature-sort-menu" md-container-class="feature-sort-menu">
                <md-option ng-click="sortBy('position')" value="position">
                    <md-icon ng-if="primaryOrder === 'position'">{{ reverseOrdering ? 'arrow_downward' : 'arrow_upward' }}</md-icon>Výchozí
                </md-option>
                <md-option ng-click="sortBy('bp_id')" value="bp_id">
                    <md-icon ng-if="primaryOrder === 'bp_id'">{{ reverseOrdering ? 'arrow_downward' : 'arrow_upward' }}</md-icon>Nedávné
                </md-option>
                <md-option ng-click="sortBy('name')" value="name">
                    <md-icon ng-if="primaryOrder === 'name'">{{ reverseOrdering ? 'arrow_downward' : 'arrow_upward' }}</md-icon>Název
                </md-option>
            </md-select>
            <div hs.feature-filter.directive ng-controller="HsFeatureFilterController"></div>
        </div>
    </md-content>
    <md-content flex layout-padding ng-show="!featureDetails && LayMan.currentLayer.filteredFeatures.length == 0 || isUndefined(LayMan.currentLayer.filteredFeatures)">
      <p style="text-align:center;display:block;font-size: 30px;color: rgb(78,52,46);">
        žádné výsledky
      </p>
    </md-content>
    <md-content flex layout-padding class="card-collection" ng-show="!featureDetails">
        <md-card ng-repeat="feature in LayMan.currentLayer.filteredFeatures | orderBy:orderProperties"
            ng-click="selectFeature(feature)"
            ng-mouseenter="highlightFeature(feature)"
            ng-mouseleave="unhighlightFeature(feature)"
            ng-class="'feature ' + feature.getProperties().class">
            <img ng-src="{{ endpoint + feature.getProperties().img }}" class="md-card-image" alt="Best Practice thumbnail">
            <md-button class="md-fab md-mini top-left" style="background-color: #fff" ng-if='feature.getProperties().eshop_connect && feature.getProperties().eshop_connect != ""'>
                <md-icon md-icon-set="material-icons" aria-label="E-shop" style="color: #E0702E">shopping_cart</md-icon>
            </md-button>
            <md-card-actions style="margin-top: -36px" layout="row" layout-align="end center">
              <span ng-repeat="tag in feature.getProperties().tags" ng-switch="tag">
                <md-button class="md-fab" style="background-color: #fff; min-height:28px; height: 28px; width:28px;">
                  <md-icon
                      ng-switch-when="Farmářské produkty"
                      aria-label="Farmářské produkty"
                      style="margin: 5px 0px 0px -4px;">
                      <img class="svg-icon" src="./img/fp.svg" style="height: 18px">
                      <md-tooltip>Farmářské produkty</md-tooltip>
                  </md-icon>
                  <md-icon
                      ng-switch-when="Ubytování"
                      aria-label="Ubytování"
                      style="margin: 5px 0px 0px -4px;">
                      <img class="svg-icon" src="./img/u.svg" style="height: 18px">
                      <md-tooltip>Ubytování</md-tooltip>
                  </md-icon>
                  <md-icon
                      ng-switch-when="Zážitky a aktivity"
                      aria-label="Zážitky a aktivity"
                      style="margin: 5px 0px 0px -4px;">
                      <img class="svg-icon" src="./img/t.svg" style="height: 18px">
                      <md-tooltip>Zážitky a aktivity</md-tooltip>
                  </md-icon>
                  <md-icon
                      ng-switch-when="Řemesla"
                      aria-label="Řemesla"
                      style="margin: 5px 0px 0px -4px;">
                      <img class="svg-icon" src="./img/r.svg" style="height: 18px">
                      <md-tooltip>Řemesla</md-tooltip>
                  </md-icon>
                  <md-icon
                      ng-switch-when="Gastronomie"
                      aria-label="Gastronomie"
                      style="margin: 5px 0px 0px -4px;">
                      <img class="svg-icon" src="./img/g.svg" style="height: 18px">
                      <md-tooltip>Gastronomie</md-tooltip>
                  </md-icon>
                  <md-icon
                      ng-switch-when="Památky"
                      aria-label="Památky"
                      style="margin: 5px 0px 0px -4px;">
                      <img class="svg-icon" src="./img/h.svg" style="height: 18px">
                      <md-tooltip>Památky</md-tooltip>
                  </md-icon>
                  <md-icon
                      ng-switch-when="Příroda"
                      aria-label="Příroda"
                      style="margin: 5px 0px 0px -4px;">
                      <img class="svg-icon" src="./img/p.svg" style="height: 18px">
                      <md-tooltip>Příroda</md-tooltip>
                  </md-icon>
                  <md-icon
                      ng-switch-when="Muzea a galerie"
                      aria-label="Muzea a galerie"
                      style="margin: 5px 0px 0px -4px;">
                      <img class="svg-icon" src="./img/m.svg" style="height: 18px">
                      <md-tooltip>Muzea a galerie</md-tooltip>
                  </md-icon>
                </md-button>
              </span>
            </md-card-actions>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{ feature.getProperties().name }}</span>
                </md-card-title-text>
            </md-card-title>
        </md-card>
    </md-content>

    <md-content flex layout-padding ng-show="!featureDetails && LayMan.currentLayer.filteredOutFeatures.length > 0">
      <md-divider></md-divider>
      <md-subheader ng-if="LayMan.currentLayer.filteredOutFeatures.length > 0" style="background-color: rgb(255, 255, 255);padding: 0;">
          Další místa
      </md-subheader>
    </md-content>

    <md-content flex layout-padding class="card-collection" ng-show="!featureDetails" style="padding-top: 0;">
        <md-card ng-repeat="feature in LayMan.currentLayer.filteredOutFeatures | orderBy:orderProperties"
            ng-click="selectFeature(feature)"
            ng-mouseenter="highlightFeature(feature)"
            ng-mouseleave="unhighlightFeature(feature)"
            ng-class="'feature filtered-out ' + feature.getProperties().class"
            style="filter: grayscale(75%)">
            <img ng-src="{{ endpoint + feature.getProperties().img }}" class="md-card-image" alt="Best Practice thumbnail">
            <md-button class="md-fab md-mini top-left" style="background-color: #fff" ng-if='feature.getProperties().eshop_connect && feature.getProperties().eshop_connect != ""'>
                <md-icon md-icon-set="material-icons" aria-label="E-shop" style="color: #E0702E">shopping_cart</md-icon>
            </md-button>
            <md-card-actions style="margin-top: -36px" layout="row" layout-align="end center">
              <span ng-repeat="tag in feature.getProperties().tags" ng-switch="tag">
                <md-button class="md-fab" style="background-color: #fff; min-height:28px; height: 28px; width:28px;">
                  <md-icon
                      ng-switch-when="Farmářské produkty"
                      aria-label="Farmářské produkty"
                      style="margin: 5px 0px 0px -4px;">
                      <img class="svg-icon" src="./img/fp.svg" style="height: 18px">
                      <md-tooltip>Farmářské produkty</md-tooltip>
                  </md-icon>
                  <md-icon
                      ng-switch-when="Ubytování"
                      aria-label="Ubytování"
                      style="margin: 5px 0px 0px -4px;">
                      <img class="svg-icon" src="./img/u.svg" style="height: 18px">
                      <md-tooltip>Ubytování</md-tooltip>
                  </md-icon>
                  <md-icon
                      ng-switch-when="Zážitky a aktivity"
                      aria-label="Zážitky a aktivity"
                      style="margin: 5px 0px 0px -4px;">
                      <img class="svg-icon" src="./img/t.svg" style="height: 18px">
                      <md-tooltip>Zážitky a aktivity</md-tooltip>
                  </md-icon>
                  <md-icon
                      ng-switch-when="Řemesla"
                      aria-label="Řemesla"
                      style="margin: 5px 0px 0px -4px;">
                      <img class="svg-icon" src="./img/r.svg" style="height: 18px">
                      <md-tooltip>Řemesla</md-tooltip>
                  </md-icon>
                  <md-icon
                      ng-switch-when="Gastronomie"
                      aria-label="Gastronomie"
                      style="margin: 5px 0px 0px -4px;">
                      <img class="svg-icon" src="./img/g.svg" style="height: 18px">
                      <md-tooltip>Gastronomie</md-tooltip>
                  </md-icon>
                  <md-icon
                      ng-switch-when="Památky"
                      aria-label="Památky"
                      style="margin: 5px 0px 0px -4px;">
                      <img class="svg-icon" src="./img/h.svg" style="height: 18px">
                      <md-tooltip>Památky</md-tooltip>
                  </md-icon>
                  <md-icon
                      ng-switch-when="Příroda"
                      aria-label="Příroda"
                      style="margin: 5px 0px 0px -4px;">
                      <img class="svg-icon" src="./img/p.svg" style="height: 18px">
                      <md-tooltip>Příroda</md-tooltip>
                  </md-icon>
                  <md-icon
                      ng-switch-when="Muzea a galerie"
                      aria-label="Muzea a galerie"
                      style="margin: 5px 0px 0px -4px;">
                      <img class="svg-icon" src="./img/m.svg" style="height: 18px">
                      <md-tooltip>Muzea a galerie</md-tooltip>
                  </md-icon>
                </md-button>
              </span>
            </md-card-actions>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{ feature.getProperties().name }}</span>
                </md-card-title-text>
            </md-card-title>
        </md-card>
    </md-content>


    <hs.query.directive-infopanel-md class="infopanel" ng-if="featureDetails"></hs.query.directive-infopanel-md>
</div>
