<div class="feature-list" ng-class="{'card-list': !featureDetails, 'layout-column': featureDetails}">
    <md-content flex layout-padding ng-show="!featureDetails" style="padding-bottom:0">
        <div layout="row" style="justify-content: space-between">
            <md-select ng-model="primaryOrder" placeholder="Řazení" class="md-no-underline feature-sort-menu" md-container-class="feature-sort-menu">
                <md-option ng-click="sortBy('position')" value="position">
                    <md-icon ng-if="primaryOrder === 'position'">{{ reverseOrdering ? 'arrow_downward' : 'arrow_upward' }}</md-icon>Výchozí
                </md-option>
                <md-option ng-click="sortBy('bp_id')" value="bp_id">
                    <md-icon ng-if="primaryOrder === 'bp_id'">{{ reverseOrdering ? 'arrow_downward' : 'arrow_upward' }}</md-icon>Nedávné
                </md-option>
                <md-option ng-click="sortBy('name')" value="name">
                    <md-icon ng-if="primaryOrder === 'name'">{{ reverseOrdering ? 'arrow_downward' : 'arrow_upward' }}</md-icon>Název
                </md-option>
            </md-select>
            <div hs.feature-filter.directive ng-controller="HsFeatureFilterController"></div>
        </div>
    </md-content>
    <md-content flex layout-padding ng-show="!featureDetails">
      <p ng-if="LayMan.currentLayer.filteredFeatures.length == 0 ||  isUndefined(LayMan.currentLayer.filteredFeatures)"
        style="text-align:center;display:block;font-size: 30px;color: rgb(78,52,46);">
        žádné výsledky
      </p>
    </md-content>
    <md-content flex layout-padding class="card-collection" ng-show="!featureDetails">
        <md-card ng-repeat="feature in LayMan.currentLayer.filteredFeatures | orderBy:orderProperties"
            ng-click="selectFeature(feature)"
            ng-mouseenter="highlightFeature(feature)"
            ng-mouseleave="unhighlightFeature(feature)"
            ng-class="feature.getProperties().class">
            <img ng-src="{{ endpoint + feature.getProperties().img }}" class="md-card-image" alt="Best Practice thumbnail">
            <md-button class="md-fab md-mini top-left" style="background-color: #fff" ng-if='feature.getProperties().eshop_connect && feature.getProperties().eshop_connect != ""'>
                <md-icon md-icon-set="material-icons" aria-label="E-shop" style="color: #E0702E">shopping_cart</md-icon>
            </md-button>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{ feature.getProperties().name }}</span>
                    <span class="md-subhead"><span ng-if="feature.getProperties().region">{{ feature.getProperties().region }}, </span>{{ feature.getProperties().country }}</span>
                </md-card-title-text>
            </md-card-title>
            <span class="md-subhead" style="display: flex; padding-left: 10px; float: right; line-height: initial;" >
              <span style="display: flex; padding-right: 10px; line-height: initial;" ng-repeat="tag in feature.getProperties().tags" ng-switch="tag">
                  <div flex></div>
                  <md-icon
                      ng-switch-when="Farmářské produkty"
                      aria-label="Farmářské produkty">
                      <img class="svg-icon" src="./img/fp.svg" style="height: 24px;">
                      <md-tooltip>Farmářské produkty</md-tooltip>
                  </md-icon>
                  <md-icon
                      ng-switch-when="Ubytování"
                      aria-label="Ubytování">
                      <img class="svg-icon" src="./img/u.svg" style="height: 24px;">
                      <md-tooltip>Ubytování</md-tooltip>
                  </md-icon>
                  <md-icon
                      ng-switch-when="Zážitky a aktivity"
                      aria-label="Zážitky a aktivity">
                      <img class="svg-icon" src="./img/t.svg" style="height: 24px;">
                      <md-tooltip>Zážitky a aktivity</md-tooltip>
                  </md-icon>
                  <md-icon
                      ng-switch-when="Řemesla"
                      aria-label="Řemesla">
                      <img class="svg-icon" src="./img/r.svg" style="height: 24px;">
                      <md-tooltip>Řemesla</md-tooltip>
                  </md-icon>
                  <md-icon
                      ng-switch-when="Gastronomie"
                      aria-label="Gastronomie">
                      <img class="svg-icon" src="./img/g.svg" style="height: 24px;">
                      <md-tooltip>Gastronomie</md-tooltip>
                  </md-icon>
                  <md-icon
                      ng-switch-when="Památky"
                      aria-label="Památky">
                      <img class="svg-icon" src="./img/h.svg" style="height: 24px;">
                      <md-tooltip>Památky</md-tooltip>
                  </md-icon>
                  <md-icon
                      ng-switch-when="Příroda"
                      aria-label="Příroda">
                      <img class="svg-icon" src="./img/p.svg" style="height: 24px;">
                      <md-tooltip>Příroda</md-tooltip>
                  </md-icon>
                  <md-icon
                      ng-switch-when="Muzea a galerie"
                      aria-label="Muzea a galerie">
                      <img class="svg-icon" src="./img/m.svg" style="height: 24px;">
                      <md-tooltip>Muzea a galerie</md-tooltip>
                  </md-icon>
              </span>
            </span>
        </md-card>
    </md-content>

    <md-content flex layout-padding ng-show="!featureDetails && LayMan.currentLayer.filteredOutFeatures.length > 0">
      <md-divider></md-divider>
      <p style="text-align:center;display:block;color: rgb(78,52,46)" ng-if="LayMan.currentLayer.filteredOutFeatures.length > 0">
        další místa
      </p>
    </md-content>

    <md-content flex layout-padding class="card-collection" ng-show="!featureDetails">
        <md-card ng-repeat="feature in LayMan.currentLayer.filteredOutFeatures | orderBy:orderProperties"
            ng-click="selectFeature(feature)"
            ng-mouseenter="highlightFeature(feature)"
            ng-mouseleave="unhighlightFeature(feature)"
            ng-class="feature.getProperties().class"
            style="filter: grayscale(75%)">
            <img ng-src="{{ endpoint + feature.getProperties().img }}" class="md-card-image" alt="Best Practice thumbnail">
            <md-button class="md-fab md-mini top-left" style="background-color: #fff" ng-if='feature.getProperties().eshop_connect && feature.getProperties().eshop_connect != ""'>
                <md-icon md-icon-set="material-icons" aria-label="E-shop" style="color: #E0702E">shopping_cart</md-icon>
            </md-button>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{ feature.getProperties().name }}</span>
                    <span class="md-subhead"><span ng-if="feature.getProperties().region">{{ feature.getProperties().region }}, </span>{{ feature.getProperties().country }}</span>
                </md-card-title-text>
            </md-card-title>
            <span class="md-subhead" style="display: flex; padding-left: 10px; float: right; line-height: initial;" >
              <span style="display: flex; padding-right: 10px; line-height: initial;" ng-repeat="tag in feature.getProperties().tags" ng-switch="tag">
                  <div flex></div>
                  <md-icon
                      ng-switch-when="Farmářské produkty"
                      aria-label="Farmářské produkty">
                      <img class="svg-icon" src="./img/fp.svg" style="height: 24px;">
                      <md-tooltip>Farmářské produkty</md-tooltip>
                  </md-icon>
                  <md-icon
                      ng-switch-when="Ubytování"
                      aria-label="Ubytování">
                      <img class="svg-icon" src="./img/u.svg" style="height: 24px;">
                      <md-tooltip>Ubytování</md-tooltip>
                  </md-icon>
                  <md-icon
                      ng-switch-when="Zážitky a aktivity"
                      aria-label="Zážitky a aktivity">
                      <img class="svg-icon" src="./img/t.svg" style="height: 24px;">
                      <md-tooltip>Zážitky a aktivity</md-tooltip>
                  </md-icon>
                  <md-icon
                      ng-switch-when="Řemesla"
                      aria-label="Řemesla">
                      <img class="svg-icon" src="./img/r.svg" style="height: 24px;">
                      <md-tooltip>Řemesla</md-tooltip>
                  </md-icon>
                  <md-icon
                      ng-switch-when="Gastronomie"
                      aria-label="Gastronomie">
                      <img class="svg-icon" src="./img/g.svg" style="height: 24px;">
                      <md-tooltip>Gastronomie</md-tooltip>
                  </md-icon>
                  <md-icon
                      ng-switch-when="Památky"
                      aria-label="Památky">
                      <img class="svg-icon" src="./img/h.svg" style="height: 24px;">
                      <md-tooltip>Památky</md-tooltip>
                  </md-icon>
                  <md-icon
                      ng-switch-when="Příroda"
                      aria-label="Příroda">
                      <img class="svg-icon" src="./img/p.svg" style="height: 24px;">
                      <md-tooltip>Příroda</md-tooltip>
                  </md-icon>
                  <md-icon
                      ng-switch-when="Muzea a galerie"
                      aria-label="Muzea a galerie">
                      <img class="svg-icon" src="./img/m.svg" style="height: 24px;">
                      <md-tooltip>Muzea a galerie</md-tooltip>
                  </md-icon>
              </span>
            </span>
        </md-card>
    </md-content>


    <hs.query.directive-infopanel-md class="infopanel" ng-if="featureDetails"></hs.query.directive-infopanel-md>
</div>
