<div class="feature-list" ng-class="{'card-list': !featureDetails, 'layout-column': featureDetails}">
    <md-content flex layout-padding ng-show="!featureDetails" style="padding-bottom:0">
        <div layout="row" style="justify-content: space-between">
            <md-select ng-model="primaryOrder" placeholder="Řazení" class="md-no-underline feature-sort-menu" md-container-class="feature-sort-menu">
                <md-option ng-click="sortBy('position')" value="position">
                    <md-icon ng-if="primaryOrder === 'position'">{{ reverseOrdering ? 'arrow_downward' : 'arrow_upward' }}</md-icon>Výchozí
                </md-option>
                <md-option ng-click="sortBy('bp_id')" value="bp_id">
                    <md-icon ng-if="primaryOrder === 'bp_id'">{{ reverseOrdering ? 'arrow_downward' : 'arrow_upward' }}</md-icon>Nedávné
                </md-option>
                <md-option ng-click="sortBy('name')" value="name">
                    <md-icon ng-if="primaryOrder === 'name'">{{ reverseOrdering ? 'arrow_downward' : 'arrow_upward' }}</md-icon>Název
                </md-option>
            </md-select>
            <div hs.feature-filter.directive ng-controller="HsFeatureFilterController"></div>
        </div>
    </md-content>

    <md-content flex layout-padding class="card-collection" ng-show="!featureDetails">
        <md-card ng-repeat="feature in LayMan.currentLayer.filteredFeatures | orderBy:orderProperties"
            ng-click="selectFeature(feature)"
            ng-mouseenter="highlightFeature(feature)"
            ng-mouseleave="unhighlightFeature(feature)"
            ng-class="feature.getProperties().class">
            <img ng-src="{{ endpoint + feature.getProperties().img }}" class="md-card-image" alt="Best Practice thumbnail">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{ feature.getProperties().name }}</span>
                    <span class="md-subhead"><span ng-if="feature.getProperties().region">{{ feature.getProperties().region }}, </span>{{ feature.getProperties().country }}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p ng-bind-html="feature.getProperties().product_service_list"></p>
            </md-card-content>
            <span ng-if='feature.getProperties().eshop_connect && feature.getProperties().eshop_connect != ""' class="md-card-shopping-cart">
              <md-icon md-font-set="fas" md-font-icon="fa-shopping-cart" aria-label="E-shop"></md-icon>
            </span>
        </md-card>
    </md-content>

    <hs.query.directive-infopanel-md class="infopanel" ng-if="featureDetails"></hs.query.directive-infopanel-md>
</div>
