<section layout="row" class="buttons bottom-right">
	<md-button class="md-icon-button attributions-button" ng-click="openAttributionsPanel($event)">
		<md-tooltip md-direction="top">Zdroje dat</md-tooltip>
		<md-icon md-icon-set="material-icons">info</md-icon>
	</md-button>
</section>

<section layout="row" class="buttons top-right">
	<md-button class="md-fab md-mini" style="background-color: #fff" ng-click="adjustZoom(-1)" ng-disabled="!canZoomOut()">
		<md-tooltip md-direction="bottom">Oddálit</md-tooltip>
		–
	</md-button>
	
	<md-button class="md-fab md-mini" style="background-color: #fff" ng-click="adjustZoom(1)" ng-disabled="!canZoomIn()">
		<md-tooltip md-direction="bottom">Přiblížit</md-tooltip>
		+
	</md-button>
	
	<md-button class="md-fab md-mini md-hue-3" ng-click="defaultView()">
		<md-tooltip md-direction="bottom">Výchozí zobrazení</md-tooltip>
		<md-icon md-icon-set="material-icons">home</md-icon>
	</md-button>
	
	<md-button class="md-fab md-mini md-hue-3" ng-click="maxView()">
		<md-tooltip md-direction="bottom">Zobrazit vše</md-tooltip>
		<md-icon md-icon-set="material-icons">language</md-icon>
	</md-button>
</section>
